<div class="btn-group">
  <a href="/" class="btn btn-default" name = "home">Home</a>
  <a href="/pet" class="btn btn-default" name = "pet">Pet</a>
  <a href="/owner" class="btn btn-default" name = "owner">Owner</a>
  <a href="/illnesses" class="btn btn-default" name = "illnesses">Illnesses</a>
  <a href="/surgeries" class="btn btn-default" name = "surgeries">Surgeries</a>
  <a href="/prescriptions" class="btn btn-default" name = "prescriptions">Prescriptions</a>
  <a href="/vaccinations" class="btn btn-default" name = "vaccinations">Vaccinations</a>
</div>

<br/>
<h2>New Owner Information</h2>

<div class="new_owner">
<form action="/newOwner" method=post>
    First Name: <input type=text name=first_name></br>
    Last Name: <input type=text name=last_name></br>
    Insurance Number: <input type=text name=insurance_number></br>
    Insurance Company: <input type=text name=insurance_company></br>
    Phone Number: <input type=text name=phone_number></br>
    Email Address: <input type=text name=email></br>
    Address: <input type=text name=physical_address></br>
    SSN: <input type=text name=ssn></br>
    Date of Birth: <input type=text name=owner_dob></br>
    <div class="actions"><input type=submit value="Submit"></div>
</form>
</div>


