<div class="btn-group">
    <ul>
      <li><a href="/" class="btn btn-default" name = "home">Home</a></li>
      <li><a href="/pet" class="btn btn-default" name = "pet">Pet</a></li>
      <li><a href="/owner" class="btn btn-default" name = "owner">Owner</a></li>
      <li><a href="/illnesses" class="btn btn-default" name = "illnesses">Illnesses</a></li>
      <li><a href="/surgeries" class="btn btn-default" name = "surgeries">Surgeries</a></li>
      <li><a href="/prescriptions" class="btn btn-default" name = "prescriptions">Prescriptions</a></li>
      <li><a href="/vaccinations" class="btn btn-default" name = "vaccinations">Vaccinations</a></li>
    </ul>
  </div>
  
  <style>
    html {
      font-family: "Arial"
    }
    ul {
      list-style-type: none;
      margin: 0;
      padding: 0;
      overflow: hidden;
      background-color: #333;
    }
  
    li {
      float: left;
    }
  
    li a {
      display: block;
      color: white;
      text-align: center;
      padding: 14px 16px;
      text-decoration: none;
    }
  
      /* Change the link color to #111 (black) on hover */
    li a:hover {
      background-color: #111;
    }

    table {
      border-collapse: collapse;
    }
    
    tr:nth-child(even) {
      background-color: #afafaf;
    }

    th {
      height: 50px;
    }

    th, td {
      padding: 15px;
      border-bottom: 1px solid rgb(221, 221, 221);
    }

    table, th, td {
      border: 1px solid black;
    }
  </style>

<br/>

<h2>Choose Owner for New Pet</h2>
<div class="new_pet">
  <form action="/newPet" method=post onchange=change()>
      <select id="ownerSB">
          <option selected value> -- select an option -- </option>
        {%for i in range(0, len)%}
          <option value="{{ names[i] }}">{{ names[i] }}</option>
        {%endfor%}
      </select>
  </form>
</div>

<h2>New Pet Information</h2>

<div class="new_pet">
<form action="/newPet" method=post>
    Name: <input type=text name=pet_name></br>
    Pet Type: <input type=text name=pet_type></br>
    Date of Birth: <input type=text name=pet_dob></br>
    Weight: <input type=text name=weight></br>
    Height: <input type=text name=height></br>
    Sex: <input type=text name=sex></br>
    <div class="actions"><button type=submit name="action" value="submit">Submit</button></div>
    <input type=hidden id=ownerTB name=owner></br>

</form>
</div>

<script> 
  function change() {
    var selectBox = document.getElementById("ownerSB");
    var selected = selectBox.options[selectBox.selectedIndex].value;
    document.getElementById('ownerTB').value = selected;
    alert(owner.value)
    return selected;
  };
</script>