<div class="btn-group">
  <a href="/" class="btn btn-default" name = "home">Home</a>
  <a href="/pet" class="btn btn-default" name = "pet">Pet</a>
  <a href="/owner" class="btn btn-default" name = "owner">Owner</a>
  <a href="/illnesses" class="btn btn-default" name = "illnesses">Illnesses</a>
  <a href="/surgeries" class="btn btn-default" name = "surgeries">Surgeries</a>
  <a href="/prescriptions" class="btn btn-default" name = "prescriptions">Prescriptions</a>
  <a href="/vaccinations" class="btn btn-default" name = "vaccinations">Vaccinations</a>
</div>

<br/>
<h2>Add New Vaccination</h2>

<div class="new_vaccination">
<form action="/newVaccination" method=post>
    Pet ID: <input type=text name=pet_id></br>
    Vaccination ID: <input type=text name=vaccination_id></br>
    Vaccination Date: <input type=text name=vaccination_date></br>
    <div class="actions"><input type=submit value="Submit"></div>
</form>
</div>