<div class="btn-group">
    <a href="/" class="btn btn-default" name = "home">Home</a>
    <a href="/pet" class="btn btn-default" name = "pet">Pet</a>
    <a href="/owner" class="btn btn-default" name = "owner">Owner</a>
    <a href="/illnesses" class="btn btn-default" name = "illnesses">Illnesses</a>
    <a href="/surgeries" class="btn btn-default" name = "surgeries">Surgeries</a>
    <a href="/prescriptions" class="btn btn-default" name = "prescriptions">Prescriptions</a>
    <a href="/vaccinations" class="btn btn-default" name = "vaccinations">Vaccinations</a>
  </div>
  
  <h3>Owner Search Results:</h3>
  </br>
  
  <table style="width:100%" border="1px solid black">
      <tr>
        <th>Owner ID</th>
        <th>Owner First Name</th>
        <th>Owner Last Name</th>
        <th>Insurance Number</th>
        <th>Insurance Company</th>
        <th>Phone Number</th>
        <th>Email Address</th>
        <th>Physical Address</th>
        <th>SSN</th>
        <th>DOB</th>
      </tr>
      {%for i in range(0, len)%}
        <tr>
          <td>{{ ids[i] }}</td>
          <td>{{ fNames[i] }}</td>
          <td>{{ lNames[i] }}</td>
          <td>{{ insNums[i] }}</td>
          <td>{{ insComps[i] }}</td>
          <td>{{ phones[i] }}</td>
          <td>{{ emails[i] }}</td>
          <td>{{ addresses[i] }}</td>
          <td>{{ ssns[i] }}</td>
          <td>{{ dobs[i] }}</td>
        </tr>
        {%endfor%}
    </table>