<div class="btn-group">
  <a href="/" class="btn btn-default" name = "home">Home</a>
  <a href="/pet" class="btn btn-default" name = "pet">Pet</a>
  <a href="/owner" class="btn btn-default" name = "owner">Owner</a>
  <a href="/illnesses" class="btn btn-default" name = "illnesses">Illnesses</a>
  <a href="/surgeries" class="btn btn-default" name = "surgeries">Surgeries</a>
  <a href="/prescriptions" class="btn btn-default" name = "prescriptions">Prescriptions</a>
  <a href="/vaccinations" class="btn btn-default" name = "vaccinations">Vaccinations</a>
</div>

<br/>
<div class="addnew">
  <form action="/newOwner" method=get>
      <div class="actions"><input type=submit value="Add a New Owner"></div>
  </form>
</div>

<div class="deleteOwner">
<form action="/deleteOwner" method=get>
    <div class="actions"><input type=submit value="Remove Owner from System"></div>
</form>
</div>

<div class="updateOwner">
  <form action="/updateOwner" method=get>
      <div class="actions"><input type=submit value="Update Owner Information"></div>
  </form>
</div>
  
  
  <h3>Search for Owner:</h3>
  
  <div class="ownerSearch">
  <form action="/owner" method=post>
      First Name: <input type=text name=ownerFirst></br>
      Last Name: <input type=text name=ownerLast></br>
      DOB: <input type=text name=ownerDOB></br>
      Insurance Company: <input type=text name=insComp></br>
      Phone Number: <input type=text name=phone></br>
      Email Address: <input type=text name=email></br>
      Physcial Address: <input type=text name=address></br>
      <!-- Pet Name: <input type=text name=petName></br> -->
      <!-- Pet ID: <input type=text name=petID></br> -->
      <div class="actions"><input type=submit value="Submit"></div>
  </form>
  </div>