<div class="btn-group">
  <a href="/" class="btn btn-default" name = "home">Home</a>
  <a href="/pet" class="btn btn-default" name = "pet">Pet</a>
  <a href="/owner" class="btn btn-default" name = "owner">Owner</a>
  <a href="/illnesses" class="btn btn-default" name = "illnesses">Illnesses</a>
  <a href="/surgeries" class="btn btn-default" name = "surgeries">Surgeries</a>
  <a href="/prescriptions" class="btn btn-default" name = "prescriptions">Prescriptions</a>
  <a href="/vaccinations" class="btn btn-default" name = "vaccinations">Vaccinations</a>
</div>

<br/>
<div class="addnew">
<form action="/newPet" method=get>
    <div class="actions"><input type=submit value="Add a New Pet"></div>
</form>
</div>

<div class="deletePet">
<form action="/deletePet" method=post>
    <div class="actions"><input type=submit value="Remove Pet from System"></div>
</form>
</div>


<h3>Search for Pet:</h3>

<div class="petSearch">
<form action="/pet" method=post>
    Owner Last Name: <input type=text name=ownerLast></br>
    Owner First Name: <input type=text name=ownerFirst></br>
    Pet Name <input type=text name=petName></br>
    Pet ID <input type=text name=petID></br>
    Pet DOB <input type=text name=petDOB></br>
    <div class="actions"><input type=submit value="Submit"></div>
</form>
</div>

