<div class="btn-group">
  <a href="/" class="btn btn-default" name = "home">Home</a>
  <a href="/pet" class="btn btn-default" name = "pet">Pet</a>
  <a href="/owner" class="btn btn-default" name = "owner">Owner</a>
  <a href="/illnesses" class="btn btn-default" name = "illnesses">Illnesses</a>
  <a href="/surgeries" class="btn btn-default" name = "surgeries">Surgeries</a>
  <a href="/prescriptions" class="btn btn-default" name = "prescriptions">Prescriptions</a>
  <a href="/vaccinations" class="btn btn-default" name = "vaccinations">Vaccinations</a>
</div>

<h3>Pet Search Results:</h3>
</br>

<table style="width:100%">
  <tr>
    <th>Pet ID</th>
    <th>Pet Name</th>
    <th>Owner First Name</th>
    <th>Owner Last Name</th>
    <th>Pet Type</th>
    <th>DOB</th>
    <th>Weight</th>
    <th>Height</th>
    <th>Sex</th>
  </tr>
</table>

<p> {{ rows }} </p>
