<div class="btn-group">
    <ul>
      <li><a href="/" class="btn btn-default" name = "home">Home</a></li>
      <li><a href="/pet" class="btn btn-default" name = "pet">Pet</a></li>
      <li><a href="/owner" class="btn btn-default" name = "owner">Owner</a></li>
      <li><a href="/illnesses" class="btn btn-default" name = "illnesses">Illnesses</a></li>
      <li><a href="/surgeries" class="btn btn-default" name = "surgeries">Surgeries</a></li>
      <li><a href="/prescriptions" class="btn btn-default" name = "prescriptions">Prescriptions</a></li>
      <li><a href="/vaccinations" class="btn btn-default" name = "vaccinations">Vaccinations</a></li>
    </ul>
  </div>
  
  <style>
    html {
      font-family: "Arial"
    }
    ul {
      list-style-type: none;
      margin: 0;
      padding: 0;
      overflow: hidden;
      background-color: #333;
    }
  
    li {
      float: left;
    }
  
    li a {
      display: block;
      color: white;
      text-align: center;
      padding: 14px 16px;
      text-decoration: none;
    }
  
      /* Change the link color to #111 (black) on hover */
    li a:hover {
      background-color: #111;
    }

    table {
      border-collapse: collapse;
    }
    
    tr:nth-child(even) {
      background-color: #afafaf;
    }

    th {
      height: 50px;
    }

    th, td {
      padding: 15px;
      border-bottom: 1px solid rgb(221, 221, 221);
    }

    table, th, td {
      border: 1px solid black;
    }
  </style>

    </br>
    
    <h3>Prescribe Pet:</h3>
    <div class="prescribe">
        <form action="/prescribePet" method=post onchange=changeOwner()>
                Select Owner of Pet to Prescribe: <select id="ownerSB">
                <option selected value> -- select an option -- </option>
                {%for i in range(0, nLen)%}
                <option value="{{ names[i] }}">{{ names[i] }}</option>
                {%endfor%}
            </select>
            <div class="actions"><button type=submit name="action" value="load">Load Pets for this Owner</button></div>
            <input type=hidden id=ownerTB name=owner></br>
    
                Select Pet to Prescribe: <select id="petSB" onchange=changePet()>
                <option selected value> -- select an option -- </option>
                {%for i in range(0, pLen)%}
                <option value="{{ pNames[i] }}">{{ pNames[i] }}</option>
                {%endfor%}
            </select>
            <input type=hidden id=petTB name=pet></br>
    
                Select Prescription: <select id="prescriptionSB" onchange=changePrescription()>
                <option selected value> -- select an option -- </option>
                {%for i in range(0, prLen)%}
                <option value="{{ prescription[i] }}">{{ prescription[i] }}</option>
                {%endfor%}
            </select></br>
            Date of Prescription: <input type=text name=date></br>
            <div class="actions"><button type=submit name="action" value="submit">Submit</button></div>
            <input type=hidden id=prescriptionTB name=prescription></br>
        </form>
    </div>
    
    <script> 
        function changeOwner() {
            var selectBox = document.getElementById("ownerSB");
            var selected = selectBox.options[selectBox.selectedIndex].value;
            document.getElementById('ownerTB').value = selected;
            return selected;
        };
    </script>
    
    <script> 
        function changePet() {
            var selectBox = document.getElementById("petSB");
            var selected = selectBox.options[selectBox.selectedIndex].value;
            document.getElementById('petTB').value = selected;
            document.getElementByID('ownerTB').value = ownerID;
            return selected;
        };
    </script>
    
    <script> 
        function changePrescription() {
            var selectBox = document.getElementById("prescriptionSB");
            var selected = selectBox.options[selectBox.selectedIndex].value;
            document.getElementById('prescriptionTB').value = selected;
            return selected;
        };
    </script>