<div class="btn-group">
    <ul>
      <li><a href="/" class="btn btn-default" name = "home">Home</a></li>
      <li><a href="/pet" class="btn btn-default" name = "pet">Pet</a></li>
      <li><a href="/owner" class="btn btn-default" name = "owner">Owner</a></li>
      <li><a href="/illnesses" class="btn btn-default" name = "illnesses">Illnesses</a></li>
      <li><a href="/surgeries" class="btn btn-default" name = "surgeries">Surgeries</a></li>
      <li><a href="/prescriptions" class="btn btn-default" name = "prescriptions">Prescriptions</a></li>
      <li><a href="/vaccinations" class="btn btn-default" name = "vaccinations">Vaccinations</a></li>
    </ul>
  </div>
  
  <style>
    html {
      font-family: "Arial"
    }
    ul {
      list-style-type: none;
      margin: 0;
      padding: 0;
      overflow: hidden;
      background-color: #333;
    }
  
    li {
      float: left;
    }
  
    li a {
      display: block;
      color: white;
      text-align: center;
      padding: 14px 16px;
      text-decoration: none;
    }
  
      /* Change the link color to #111 (black) on hover */
    li a:hover {
      background-color: #111;
    }

    table {
      border-collapse: collapse;
    }
    
    tr:nth-child(even) {
      background-color: #afafaf;
    }

    th {
      height: 50px;
    }

    th, td {
      padding: 15px;
      border-bottom: 1px solid rgb(221, 221, 221);
    }

    table, th, td {
      border: 1px solid black;
    }
  </style>


<br/>
<div class="addnew">
  <form action="/prescribePet" method=get>
      <div class="actions"><input type=submit value="Add a New Prescription"></div>
  </form>
  </div>

  <div class="prescriptionSearch">
        <form action="/prescriptions" method=post>
            <div class="actions"><button type=submit name="action" value="getAllP">Return All Pet Prescriptions</button></div>
        </form>
    </div>
      
  
  <div class="prescriptionSearch">
      <form action="/prescriptions" method=post>
          <div class="actions"><button type=submit name="action" value="getAll">Return All Prescriptions</button></div>
      </form>
  </div>
  
  <h3>Search for Prescription:</h3>
  
  <div class="prescriptionSearch">
  <form action="/prescriptions" method=post>
      Prescription Name <input type=text name=prescriptionName></br>
      Prescription ID <input type=text name=prescriptionID></br>
      <div class="actions"><button type=submit name="action" value="submit">Submit</button></div>
  </form>
  </div>