<div class="btn-group">
    <ul>
      <li><a href="/" class="btn btn-default" name = "home">Home</a></li>
      <li><a href="/pet" class="btn btn-default" name = "pet">Pet</a></li>
      <li><a href="/owner" class="btn btn-default" name = "owner">Owner</a></li>
      <li><a href="/illnesses" class="btn btn-default" name = "illnesses">Illnesses</a></li>
      <li><a href="/surgeries" class="btn btn-default" name = "surgeries">Surgeries</a></li>
      <li><a href="/prescriptions" class="btn btn-default" name = "prescriptions">Prescriptions</a></li>
      <li><a href="/vaccinations" class="btn btn-default" name = "vaccinations">Vaccinations</a></li>
    </ul>
  </div>
  
  <style>
    html {
      font-family: "Arial"
    }
    ul {
      list-style-type: none;
      margin: 0;
      padding: 0;
      overflow: hidden;
      background-color: #333;
    }
  
    li {
      float: left;
    }
  
    li a {
      display: block;
      color: white;
      text-align: center;
      padding: 14px 16px;
      text-decoration: none;
    }
  
      /* Change the link color to #111 (black) on hover */
    li a:hover {
      background-color: #111;
    }

    table {
      border-collapse: collapse;
    }
    
    tr:nth-child(even) {
      background-color: #afafaf;
    }

    th {
      height: 50px;
    }

    th, td {
      padding: 15px;
      border-bottom: 1px solid rgb(221, 221, 221);
    }

    table, th, td {
      border: 1px solid black;
    }
  </style>

  
  <h3>Update Owner Information:</h3>
  
  <div class="ownerUpdate">
  <form action="/updateOwner" method=post>
        Enter Owner ID to update: <input type=text name=ownerID></br>
        <div class="actions"><button type=submit name="action" value="load">Load Current Owner Information</button></div>
    </br>
    Owner First Name: <input type=text name=ownerFirst value={{ownerFirst}}></br>
        Owner Last Name: <input type=text name=ownerLast value={{ownerLast}}></br>
        Insurance Number: <input type=text name=insNum value={{insNum}}></br>
        Insurance Company: <input type=text name=insComp value={{insComp}}></br>
        Phone Number: <input type=text name=phone value={{phone}}></br>
        Email Address: <input type=text name=email value={{email}}></br>
        Physical Address: <input type=text name=address value={{address}}></br>
        <div class="actions"><button type=submit name="action" value="submit">Submit</button></div>
  </form>
  </div>
  
  